@{
    ViewBag.Title = "O platformie";
}
<h2>@ViewBag.Title.</h2>
<h3>Twórcy</h3>

<p>Marcin Antczak</p>

<h3>Użyta technologia</h3>

<p><a href="https://www.asp.net/mvc">ASP.NET MVC</a></p>

<h3>Inne narzędzia</h3>

<p><a href="https://www.asp.net/identity">ASP.NET Identity</a></p>
<p><a href="https://www.asp.net/entity-framework">Entity Framework</a></p>
<p><a href="http://jquery.com/">jQuery</a></p>
<p><a href="http://getbootstrap.com/">Bootstrap</a></p>
<p><a href="http://fontawesome.io/">Font Awesome</a></p>
<p><a href="http://glyphicons.com/">Glyphicons</a></p>
<p><a href="https://www.tinymce.com/">TinyMCE</a></p>
