
@{
    ViewBag.Title = "Elearning";
}

<h2>E-learning</h2>

<div class="panel panel-default">
    <div class="panel-heading">Definicja</div>
    <div class="panel-body">
        E–learning – nauczanie z wykorzystaniem sieci komputerowych i Internetu, oznacza wspomaganie procesu dydaktyki za pomocą komputerów osobistych, smartfonów, tabletów (m-learning) i Internetu. Pozwala na ukończenie kursu, szkolenia, a nawet studiów bez konieczności fizycznej obecności w sali wykładowej. Uzupełnia również tradycyjny proces nauczania, budując blended learning. E-learning to tylko jeden z elementów edukacji, dlatego edukacja w czasie rzeczywistym dotyczy znacznie obszerniejszego zasięgu usług niż e-learning.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Charakterystyka</div>
    <div class="panel-body">
        Termin e-learning, tak jak i techniki uczenia się oraz technologie kształcenia, odnosi się do stosowania w nauczaniu technologii elektronicznej w o wiele szerszym zakresie niż w ramach tradycyjnych szkoleń komputerowych, czy też nauczania wspomaganego komputerowo z połowy lat osiemdziesiątych. Jest również o wiele szerszy od pojęć nauczania i edukacji online, które oznaczają nauczanie tylko przez sieć internetową. W przypadku zastosowania technologii mobilnych, częściej używane jest pojęcie M-learningu.

        E-learning służy nauczaniu na odległość oraz nauczaniu elastycznemu. Często jest łączony z tradycyjnym nauczaniem w formie kursów mieszanych.

        Dostęp do zautomatyzowanych narzędzi oraz materiałów dydaktycznych umożliwia typowe środowisko e-learningowe Virtual Learning Environment (VLE) z menu nawigacyjnym i ikonami.

        Szczególnie w szkolnictwie wyższym wzrasta tendencja do tworzenia środowisk VLE, które w połączeniu z systemami kontroli informacji (Managed Informaton System, MIS), tworzą system kontroli środowiska e-learningowego (Managed Learning Environment). W środowiskach tych wszelkie informacje związane z kursem przekazywane są poprzez interfejs użytkownika zgodny ze standardami obowiązującymi na uczelni.

        Coraz więcej tradycyjnych szkół wyższych, jak również młodszych szkół wyższych online, oferuje przez internet wybrane programy dyplomowe na wielu poziomach i w wielu dziedzinach. Zazwyczaj studenci zobowiązani są do uczęszczania na zajęcia, jednak wiele kursów jest udostępnianych wyłącznie online. Ponadto, coraz częściej uczelnie oferują studentom wsparcie online np. w formie informacji i rejestracji w sieci, e-doradztwa, sprzedaży podręczników przez Internet, stron samorządów czy gazet studenckich online.

        Rozwija się oferta masowych otwartych kursów online (ang. MOOC - massive open online courses), które pozwalają zdalnie i bezpłatnie brać udział w wybranym akademickim kursie, czasem zakończonym egzaminem. Nie jest przy tym wymagany status studenta uczelni wyższej. Katalog anglojęzycznych kursów typu MOOC można znaleźć np. na stronie MOOC List.

        E-learning może również odnosić się do edukacyjnych stron internetowych, udostępniających np. scenariusze lekcji, arkusze ćwiczeniowe, czy interaktywne ćwiczenia dla dzieci. Pojęcie to jest również używane w biznesie w odniesieniu do opłacalnych szkoleń online.
    </div>
</div>

